@require '../../vars'

.z-home
  > .header
    background: getColor('$primaryMain')
    text-align: center
    padding-bottom: 366px

    > .top
      > .logo
        width: 140px
        height: 32px

    > .title
      font-h1()
      color: getColor('$primaryMainText')
      margin-top: 100px
      margin-bottom: 10px

    > .description
      font-h5()

  > .products-banner
    text-align: center
    padding: 148px 0

    > .title
      font-h1()

    > .description
      font-h4()
