@require '../../vars'

.z-home
  overflow-x: hidden

  > .header
    background: url($cdnUrl + '/techby/home/geometric_pattern.svg')
    position: relative

    > .top
      background: getColor('$bgColor')
      padding: 16px

      > .container
        container()

        > .logo
          font-h4()
          display: flex
          align-items: center

          > .icon
            width: 35px
            height: 32px
            background: url($cdnUrl + '/techby/logo.svg')
            background-size: 100%
            margin-right: 12px

    > .content
      container()
      padding: 72px 32px

      > .title
        font-h3-heavy()
        color: getColor('$primary300')
        margin-bottom: 12px
        max-width: 650px

      > .description
        font-h5()
        color: getColor('$primary300')
        max-width: 650px

  > .banner
    padding: 64px 32px

    > .container
      container()

      > .title
        font-h3-heavy()

      > .description
        font-h5()
        margin-bottom: 8px
        display: flex
        align-items: center

        > .icon
          margin-left: 8px

  > .product
    padding: 56px 32px
    background: getColor('$bgColorAlt1')

    > .container
      container()

      > .image
        background-size: 100%
        width: 100%
        height: 0
        padding-bottom: 72%
        margin-bottom: 32px

      > .content
        > .name
          font-h4()
          font-weight: 700
          color: getColor('$primary900')

          > .by-tech-by
            color: getColor('$secondary500')
            font-weight: 300

        > .description
          font-subtitle1()
          margin-top: 16px

        > .link
          font-button()
          color: getColor('$secondary500')
          text-transform: uppercase
          display: block
          margin-top: 20px
          display: flex
          align-items: center

          > .icon
            margin-left: 12px

        > .apps
          margin-top: 36px

          > .app
            display: flex
            align-items: center
            margin-bottom: 16px

            &:last
              margin-bottom: 0

            > .icon
              width: 40px
              height: 40px
              border: 2px solid getColor('$primary300')
              border-radius: 50%
              margin-right: 20px

            > .text
              font-subtitle1()

  > .about-us
    background: getColor('$bgColor')

    > .container
      > .grid
        display: grid
        grid-template-columns: 1fr
        grid-row-gap: 40px
        text-align: left
        margin-top: 60px

        > .column
          > .icon
            display: inline-block

            &.efficient
              margin-left: -12px

          > .title
            font-h4-heavy()
            margin-top: 20px

          > .description
            margin-top: 20px

            > .link
              font-subtitle1()
              color: getColor('$primaryMain')

  @media (min-width: $breakPointMedium)
    > .header
      > .top
        padding: 32px 16px

      > .content
        padding: 200px 100px

        > .title
          font-h1-heavy()
          color: getColor('$primary300')

        > .description
          font-h3-heavy()
          color: getColor('$primary300')

    > .banner
      padding: 172px 60px

      > .container
        > .title
          font-h1-heavy()

    > .product
      &.is-alt
        > .container
          flex-direction: row-reverse

          > .image
            margin-left: 142px
            margin-right: 0

      > .container
        display: flex
        align-items: center

        > .image
          width: 674px
          height: 487px
          padding-bottom: 0
          margin-bottom: 0
          margin-right: 142px
          flex-shrink: 0

        > .content
          > .name
            font-h3()
            font-weight: 700
            color: getColor('$primary900')

          > .apps
            display: flex

            > .app
              margin-right: 40px
              margin-bottom: 0

              &:last
                margin-right: 0

    > .about-us
      > .container
        > .grid
          grid-template-columns: 1fr 1fr 1fr
          grid-column-gap: 80px
          margin-top: 80px

